:root {
  --color-black: #000000;
  --color-btn: #fff0acda;
  --button-size: 50px;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

button {
  border: 3px solid var(--color-black);
  border-radius: 10px;
  outline: none;
  position: relative;
  margin: 4px auto 0 auto;
}

.game {
  width: 640px;
  height: 400px;
  background: url("../img/background.png") center/cover no-repeat;
  border-radius: 20px;
  margin: auto;
  position: relative;
  top: 50px;
}

.game__Level {
  margin: 0;
  padding: 2px;
  position: absolute;
  width: 30%;
  height: 10%;
  left: 4px;
  top: 4px;
  font-size: 22px;
  background-color: var(--color-btn);
  border-radius: 20px;
  border: 2px solid var(--color-black);  
  line-height: 30px;
  text-align: center;
  font-weight: 600;
}

.game__displayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  text-align: center;
}

.game__playBtn {
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--color-btn);
}

.game__playBtn:hover {
  cursor: pointer;  
}

.game__playBtn.disabled {
  pointer-events: none;
}

.fa-play,
.fa-stop {
  backface-visibility: hidden;
  display: block;
}

.game__playBtn .fa-play {
  position: absolute;
  left: 12px;
  pointer-events: none;
  font-size: 25px;
}

[data-show="playBtn"] .fa-play {
  transform: rotateY(0deg);
}

[data-show="playBtn"] .fa-stop {
  transform: rotateY(180deg);
}

[data-show="stopBtn"] .fa-play {
  transform: rotateY(180deg);
}

[data-show="stopBtn"] .fa-stop {
  transform: rotateY(0deg);
}

.game__playBtn .fa-stop {
  pointer-events: none;
  opacity: 1;
  font-size: 25px;
}

.timer {
  width: calc(var(--button-size) * 2);
  height: 40px;
  font-size: 20px;
}

.counter {
  margin-top: 4px;
  width: var(--button-size);
  height: var(--button-size);
  background-color: tomato;
  border-radius: 50%;
  border: 2px solid var(--color-black);
  line-height: 45px;
  font-size: 32px;
  color: var(--color-white);
}

.field {
  position: absolute;
  width: 100%;
  top: 210px;
  height: 190px;
}


.field img {
  position: absolute;
  transition: all 300ms ease;
  transform: scale(0);
}

.field img[data-size="beSmall"] {
  transform: scale(0);
}

.field img[data-size="beLarge"] {
  transform: scale(1.1);
}

.field img[data-size="beMedium"] {
  transform: scale(1.0);
}

.field.show img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.field img.hidden {
  pointer-events: none;
}

.popUpMenu {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  width: 55%;
  height: 25%;
  position: relative;
  top: 40px;
  border-radius: 20px;
  opacity: 0;
  text-align: center;
  pointer-events: none;
}

.popUpMenu__restart {
  opacity: 1.0;
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--color-btn);
  border: 2px solid var(--color-black);
}

.popUpMenu.show {
  pointer-events: auto;
}

.popUpMenu.show .popUpMenu__restart:hover {
  cursor: pointer;  
}

.popUpMenu__restart .fas {
  font-size: 20px;
  color: var(--color-black);
  pointer-events: none;
}

.popUpMenu__text {
  font-size: 30px;
  color: var(--color-white);
}